/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
/* RESET */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
  }
  
  /* Preferred box-sizing value */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
  ol, ul {
    list-style: none;
  }
  
  /* For images to not be able to exceed their container */
  img {
    max-width: 100%;
  }
  
  /* Removes spacing between cells in tables */
  table {
    border-collapse: collapse;
  }
  
  /* Revert the 'white-space' property for textarea elements on Safari */
  textarea {
    white-space: revert;
  }
  /*END OF RESET*/
:root{
  --chismoso: 1px solid red;
}
.cuerpo{
  background: #99B3D6;
  height: 100vh;
  
}
  .contenedor_principal{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;

  margin: 5% 0 0 0;

  position: relative;
  height: auto;
}

.welcome{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    background: #91BCC1;
    border-radius: 0px;
    background: linear-gradient(45deg, #ECE9E6, #FFFFFF);
    box-shadow:  9px -9px 18px #a8998a,
             -9px 9px 18px #ffffff;

    
}

.welcome > h1{
  font-size: 120%;
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
}

.caja{
  border-radius: 10px;
  background: linear-gradient(45deg, #d6ffff, #b4dce0);
  box-shadow:  10px -10px 31px #607578,
               -10px 10px 31px #ffffff;

  transition: all .3s ease-in-out;

  height: 50vh;
  width: 30%;

}

  .caja_1, .caja_2, .caja_3{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    padding: 5px;
    border-radius: 5px;

    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
  }
  .caja:hover{
    box-shadow: rgb(151, 151, 161) 1px 5px 25px;
    background-color: rgba(169, 212, 234, 1);
    cursor: pointer;
  }

.titulo{
  font-size: 120%;
  color: aliceblue;
  letter-spacing: 1.5px;

  border-radius: 5px;
  padding: 5px;

  background-color: rgba(207, 61, 41, 0.74);
  box-shadow: rgb(50, 50, 51) 1px 5px 25px;
}



.contenido{
  text-align: center;
  margin-top: 20px;
  font-size: 110%;
  height: 30vh;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

/**MEDIA QUERYS**/

/*portrait es orientacion vertical*/
@media (max-width: 575.98px) and (orientation: portrait) {
  .contenedor_principal{
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .caja{
    width: 90%;
    height: 40vh;
    margin: 5px;
  }
  .cuerpo{
    height: unset;
  }
  .footer{

    background: #faeaffb2;

    font-family: 'Quicksand';
    font-weight: 600;

    margin: 40px 0 0 0;
    height: 20vh;
    /* border: var(--chismoso); */
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .footer__redes{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
  }
}

/*portrait es orientacion horizontal*/
@media (max-width: 575.98px) and (orientation: landscape ){
  .contenedor_principal{
    display: flex;
    flex-direction: column;

  }
  .caja{
    width: 90%;
    height: 45vh;
    margin: 10px;
  }
  
  .cuerpo{
    height: unset;
  }
}

@media (min-width: 576px) and (max-width: 768.98px){
  .contenedor_principal{
    display: flex;
    flex-direction: row;
    height: 100vh;
  
  }
  .cuerpo{
    height: unset;
  }
  .caja{
    width: 30%;
    height: 55vh;
    margin: 5px;
  }

  .footer{

    background: #faeaffb2;

    font-family: 'Quicksand';
    font-weight: 600;

    margin: 40px 0 0 0;
    height: 20vh;
    /* border: var(--chismoso); */
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .footer__redes{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
  }
}
@media (min-width: 420px)  and (orientation: portrait){
  .cuerpo{
    height: 100vh;
  }
  .caja{
    height: 25vh;
    /* border: var(--chismoso) */
  }
}

@media (min-width: 1024px){
  .footer{

    background: #faeaffb2;

    font-family: 'Quicksand';
    font-weight: 600;

    margin: 40px 0 0 0;
    height: 20vh;
    /* border: var(--chismoso); */
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .footer__redes{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
  }
}